/*
	|| GLOBAL
*/

@import url('https://fonts.googleapis.com/css?family=Righteous|Squada+One|Roboto:300,400,500|Open+Sans:300,400,600');
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
}

.light p,
.light h2 {
  color: #fff;
}

nav a,
.nav-container,
.work-show-btn,
.work-content,
.work-btn,
.submit,
.form-text,
footer a,
.p-work-show-btn {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

#wrapper section {
  padding: 100px 0;
}

.section-head {
  text-align: center;
  padding-bottom: 55px;
}

.section-head h2 {
  font-weight: 300;
  font-size: 36px;
}

.section-head span {
  color: #8000ff;
}

#wrapper {
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 5;
}

/*
	||| PRELOADER
*/

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../img/Preloader_2.gif') center no-repeat #fff;
}

/*
	||| BANNER
*/

.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../img/banner.gif') center fixed;
  background-size: cover;
  top: 0;
  z-index: -1;
}

.banner-dark {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.banner-content {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 300px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.banner-content h1 {
  font-size: 100px;
  color: #fff;
  font-family: 'Righteous' !important;
}

.banner-content p {
  font-family: 'Roboto' !important;
  color: #fff;
  font-size: 24px;
}

.banner-p {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.banner-content h1:before,
.banner-content h1:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 100px;
  margin: 0 25px;
  padding: 0 20px;
}

.scroll-container {
  position: fixed;
  bottom: 35px;
  width: 100%;
  text-align: center;
}

.scroll-container img {
  border-radius: 50%;
}

/*
	||| DESKTOP NAVIGATION
*/

.nav-container {
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav {
  border-bottom: 1px solid #fff;
  width: 1080px;
  margin: auto;
  padding: 25px 0;
  cursor: default;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-left: -4px;
}

.nav-right {
  float: right;
  position: relative;
  top: -40px;
}

.nav-right a {
  padding: 39px 20px 42px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.nav-right a:hover {
  box-shadow: inset 0 -3px 0 #fff;
}

.stickytop {
  background: rgba(0, 0, 0, 0.5);
}

.removeBorder {
  border: none;
}

/*
	||| CHANGE COLOUR FOR "WHAT I DO" and "CONTACT"
*/

#about,
#work {
  background: #222;
  color: #f8f8ff;
}

#whatido {
  background: #151515;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  color: #f8f8ff;
}

#contact-a {
  background: #151515;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 1);
  color: #f8f8ff;
}

/*
	||| ABOUT ME
*/

.about h3 {
  font-size: 24px;
  padding-bottom: 25px;
}

.about p {
  font-size: 19px;
  padding: 5px 0;
}

.logo {
  border-radius: 10px;
}

/*
	||| WHAT I DO
*/

.cube-container {
  text-align: center;
  width: 900px;
  margin: 0 auto;
}

.cube {
  width: 450px;
  height: 400px;
  margin: -4px;
}

.row-1 .cube:nth-child(2) {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.row-2 .cube:nth-child(1) {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  position: relative;
  right: -3px;
  top: -3px;
}

.cube-head {
  padding: 20px 0;
}

.cube-head h2 {
  font-size: 26px;
  font-family: 'Open Sans';
}

.cube-head img {
  padding: 20px 0;
}

.cube-content {
  padding: 20px 0;
}

.cube-content p {
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 300;
}

.dl-site {
  color: #000;
}

/*
	||| MY WORK
*/

.work {
  background: black;
  height: 300px;
  min-height: 300px;
  overflow: hidden;
}

.work-content {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  padding: 125px 0;
}

.work-content p {
  font-size: 18px;
  font-weight: 300;
}

.work-content h2 {
  font-size: 24px;
}

.work-one {
  background: url('../img/work/Trakt.jpg') center center;
  background-size: cover;
}

.work-two {
  background: url('../img/work/Runemetrics.png') center center;
  background-size: cover;
}

/* .work-three {
  background: url('') center center;
  background-size: cover;
}

.work-four {
  background: url('') center center;
  background-size: cover;
}

.work-five {
  background: url('') center center;
  background-size: cover;
}

.work-six {
  background: url('') center center;
  background-size: cover;
} */

.work-show-btn {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 200px;
}

.work-btn {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border: 1px solid #fff;
  padding: 10px 30px;
}

.work-btn:hover {
  background: rgba(0, 0, 0, 0.5);
}

.work:hover .work-show-btn {
  margin-top: 40px;
}

.work:hover .work-content {
  background: rgba(0, 0, 0, 0.5)
}

/*
	||| CONTACT
*/

.contact-form {
  width: 283px;
  margin: auto;
}

.form-text {
  border: 2px solid #8148fa;
  border-radius: 5px;
  background: transparent;
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
}

.form-text:focus {
  border-color: #a569fc;
}

textarea.form-text {
  resize: vertical;
  height: 100px;
}

.contact-form .text-container {
  padding: 10px 0;
}

.submit {
  background: #8148fa;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  width: 330px;
}

.submit:hover {
  background: #a569fc;
}

.submit-container {
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

.contact p {
  font-size: 20px;
  font-weight: 300;
}

.social {
  padding-top: 35px;
}

.social a {
  margin: 0 20px;
  text-decoration: none;
  color: transparent
}

/*
	||| FOOTER
*/

footer {
  padding: 50px 0;
  background: #000;
  text-align: center;
  cursor: default;
}

footer p {
  color: #fff !important;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-family: 'Comfortaa';
}

footer a:hover {
  color: #ddd;
}

footer span {
  color: #555;
  cursor: default;
}

/*
	||||||||||||||||||| PHONE
*/

/*
	||| PHONE
*/

.phone-nav {
  position: fixed;
  top: 70px;
  width: 100%;
  background: #151515;
  text-align: center;
  z-index: 9;
  display: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.phone-nav-logo {
  padding: 50px 0;
}

.phone-nav li {
  list-style: none;
  border-top: 2px solid #aaa;
}

.phone-nav li:last-child {
  border-bottom: 2px solid #aaa;
}

.phone-nav a {
  width: 100%;
  display: block;
  padding: 42px 0;
  text-decoration: none;
  color: #fdfdfd;
  font-size: 32px;
  font-weight: 500 !important;
}

.phone-nav-button {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 0;
  z-index: 10;
  background: #151515;
  width: 100%;
  text-align: center;
}

.phone-nav-button img {
  width: 70px;
}

.phone-whatido table {
  width: 100%;
  margin: auto;
}

.phone-whatido th {
  border-bottom: 2px solid #aaa;
  padding: 40px 0 70px 0;
}

.phone-whatido tbody tr:last-child th:last-child {
  border-bottom: none;
}

.phone-about tr {
  padding: 20px 0;
}

.phone-about p {
  font-size: 200%;
}

.phone-about h2 {
  font-size: 350%;
  padding-bottom: 40px;
}

.phone-contact-form {
  width: 50%;
  margin: 0 auto;
}

.phone-text-container {
  padding: 10px 0;
}

.phone-form-text {
  background: transparent;
  border: 2px solid #8148fa;
  border-radius: 5px;
  padding: 10px 20px;
  width: 470px;
  color: #fff;
  font-size: 34px;
}

textarea.phone-form-text {
  height: 100px;
}

.phone-form-text:focus {
  border-color: #a569fc;
}

/*
	||| MEDIA QUERY (RESPONSIVE)
*/

@media screen and (min-width: 1080px) {
  .phone-nav,
  .phone-nav-button,
  .phone-whatido,
  .phone-work,
  .phone-about,
  .phone-contact {
    display: none !important
  }
}

@media screen and (max-width: 1079px) {
  nav,
  .cube-container,
  .desk-work,
  .desk-about,
  .desk-contact {
    display: none;
  }
  .section-head h2 {
    font-size: 350%;
  }
  .cube-head h2 {
    font-size: 300%;
  }
  .cube-content p {
    font-size: 200%;
  }
  .work-content h2 {
    font-size: 300%;
  }
  .work-content p {
    font-size: 200%;
  }
  .work-content a {
    font-size: 250%;
    border: 5px solid #fff;
  }
  .work:hover .work-content {
    margin-right: -320px;
  }
  .work:hover .p-work-show-btn {
    margin-left: -350px;
    opacity: 1
  }
  .work:hover .work-content {
    background: rgba(0, 0, 0, 0.5)
  }
  .p-work-show-btn {
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0;
    margin-top: -60px;
  }
  .banner-content h1 {
    font-size: 150px;
  }
  .banner-content h1:before,
  .banner-content h1:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 6px;
    position: relative;
    vertical-align: middle;
    width: 100px;
    margin: 0 25px;
    padding: 0 20px;
  }
  .banner-content p {
    font-size: 40px;
  }
  .contact p {
    font-size: 34px;
  }
  .contact {
    padding-bottom: 40px;
  }
  input[type=submit] {
    font-size: 34px;
    width: 100%;
  }
}

/*
	|| END OF CSS
*/